@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
*{
	box-sizing: border-box;
}

/*header*/
.header-container{
	padding: 2% 0 2% 0;
}

.header-items{
	align-items: center;
}

#logo{
	font-family: 'Shrikhand', cursive;
	width: 75%;
}

.return-icon{
	font-size: 150%;
	color: black;
}

/*restaurant image*/
.restaurant-image{
	object-fit: cover;
	width: 100%;
	height: 260px;
}

/*restaurant menu*/
.restaurant-name{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 7%;
	padding-bottom:5%;
	padding-right: 9%;
	

}

.restaurant-name h2{
	font-family: 'Shrikhand', cursive;
	font-size: 25px;
}

.heart-icon{
	font-size: 150%;
}

.entries h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	padding-top: 1%;
}

.meals h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	padding-top: 8%;
}

.desserts h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	padding-top: 8%;
}

hr.new1, hr.new2, hr.new3 {
  border-top: 1px solid #99E2D0;
  width: 12%;
  margin-top: -1%;
  margin-bottom: 2%;
}

.entry-choice, .meal-choice, .dessert-choice{
	margin-top: 2%;
	margin-bottom: 1%;
}

.entry, .meal, .dessert{
	background: white;
	border: 1px solid #f2f2f2;
	border-radius: 15px 15px;
	/*padding-left: 3%;
	padding-right: 7%;*/
	padding: 4% 7% 2% 3%;
	cursor: pointer;
}

.entry h6, .meal h6, .dessert h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 0;
}

.entry-item, .meal-item, .dessert-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entry-item h6, .meal-item h6, .dessert-item h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 1%;
}

.price{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.order{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 12%;
}

.order-button{
	border-radius: 40px 40px;
	background: linear-gradient(#FF79DA, #9356DC);
	color: white;
	padding: 5% 14%;
	margin-bottom: 3%;
	border: 1px none #9356DC;
}

.order-button:hover{
	background: linear-gradient(#FF79DA, #9356DC);
	opacity: 0.8;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*footer*/
.footer-container{
	padding-top: 1%;
	padding-bottom: 1%;
	background: #353535;
	color: white;
}

.footer-title{
	padding: 6% 0 4% 0;
}

.footer-title h2{
	font-family: 'Shrikhand', cursive;
	font-size: 18px;
}

.footer-items{
	line-height: 60%;
	padding-bottom: 5%;
}

.footer-items ul{
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	padding-left: 0;
}

.footer-items li a{
	color: white;
}

.first{
	padding-left: 13px;
}

.second{
	padding-left: 9px;
}

.footer-icon{
	font-size: 13px;
}

a{
	text-decoration: none;
}

@media screen and (min-width: 768px){

	/*restaurant image*/
	.restaurant-image{
		height: 350px;
	}

	/*restaurant menu*/
	.restaurant-name{
		padding-top: 5%;
		padding-bottom: 3%;
	}

	.entries h5{
		padding-bottom: 1%;
	}

	.meals h5{
		padding-top: 4%;
		padding-bottom: 1%;
	}

	.desserts h5{
		padding-top: 4%;
		padding-bottom: 1%;
	}

	hr.new1, hr.new2, hr.new3 {
	  width: 6%;
	  margin-bottom: 0;
	}
	
	.entry-choice, .meal-choice, .dessert-choice{
		margin-top: 2%;
		margin-bottom: 0;
	}

	.order{
		margin-top: 5%;
		margin-bottom: 7%;
	}

	.order-button{
		padding: 3% 10%;
		margin-bottom: 1%;
	}

	/*footer*/
	.footer-container{
		padding-top: 0;
		padding-bottom: 0;
	}

	.footer-title{
		padding: 3% 0 1% 0;
	}

	.footer-title h2{
		font-size: 25px;
	}

	.footer-items{
		line-height: 120%;
		padding-bottom: 2%;
	}
}

@media screen and (min-width: 992px){

	/*header*/
	.return-icon{
		font-size: 200%;
	}

	/*restaurant image*/
	.restaurant-image{
		height: 400px;
	}

	/*restaurant menu*/
	.restaurant-name{
		padding-top: 3%;
		padding-bottom: 1%;
	}

	hr.new1, hr.new2, hr.new3 {
	  width: 4%;
	}

	.entry-choice, .meal-choice, .dessert-choice{
		margin-top: 2%;
		margin-bottom: -1%;
	}

	.order{
		margin-bottom: 5%;
	}

	.order-button{
		margin-bottom: 0;
	}
	
}