@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
*{
	box-sizing: border-box;
}

/*header*/
#logo{
	font-family: 'Shrikhand', cursive;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container{
	padding: 4% 0 4% 0;
	border-bottom: 2px solid #F2F2F2;
}

/*form*/
form{
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 2% 0 2% 0;
	margin: 1% 0 1% 0;
}

.form-container{
	background: #eaeaea;
}

input{
	background: #eaeaea;
}

#city{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-left: 2%;
	width: 120px;
	border: 1px none white;
}

/*description*/
.description-container{
	background: #f6f6f6;
	padding: 12% 0 15% 0;
	text-align: center;
}

.description-container h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-bottom: 2%;
}

.description-container h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-bottom: 7%;
}

.description-button{
	border-radius: 40px 40px;
	background: linear-gradient(#FF79DA, #9356DC);
	color: white;
	padding: 5% 7%;
	margin-bottom: 3%;
	border: 1px none #9356DC;
}

.description-button:hover{
	background: linear-gradient(#FF79DA, #9356DC);
	opacity: 0.8;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*functioning*/
.functioning-container{
	background: white;
	padding: 15% 4% 20% 4%;
}

.functioning-container h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 3%;
	padding-bottom: 4%;
}

.functioning-button{
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	padding: 8% 3% 6% 0;
	border-radius: 20px 20px;
	border: 1px none #F2F2F2;
	width: 100%;
}

.button-number{
	border: 1px solid #9356DC;
	background: #9356DC;
	color: white;
	width: 23px;
	height: 23px;
	border-radius: 24px 24px;
	position: relative;
	right: 3.5%;
}

.icon{
	font-size: 120%;
	color: #7e7e7e;
}


.button-icon{
	margin-left: 3%;
	
}

.button-choice{
	margin-left: 7%;
	
}

.functioning-button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background: #f5edff;
}

.functioning-button:hover > .button-icon .icon{
	color: #9356DC;
}

/*restaurants*/
.restaurants-container{
	background: #f6f6f6;
	padding-top: 13%;
	padding-bottom: 16%;
}

.restaurants{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-bottom: 3%;
}
.card {
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: black;
  padding: 0px 16px;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 5%;
}

a{
	text-decoration: none;
}

.card-container_content{
	line-height: 80%;
}

.card-container_content h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 17px;
}

.card-container_content p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.heart-icon{
	font-size: 150%;
}

.label{
	position: absolute;
	right: 12px;
	top: 12px;
	background: #99E2D0;
	color: #008766;
	padding: 1.5% 3% 1.5% 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
}

/*footer*/
.footer-container{
	padding-top: 1%;
	padding-bottom: 1%;
	background: #353535;
	color: white;
}

.footer-title{
	padding: 6% 0 4% 0;
}

.footer-title h2{
	font-family: 'Shrikhand', cursive;
	font-size: 18px;
}

.footer-items{
	line-height: 60%;
	padding-bottom: 5%;
}

.footer-items ul{
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	padding-left: 0;
}

.footer-items li a{
	color: white;
}

.first{
	padding-left: 13px;
}

.second{
	padding-left: 9px;
}

.footer-icon{
	font-size: 13px;
}

@media screen and (min-width: 768px){

	/*header*/
	#logo{
		width: 75%;
	}

	.logo-container{
		padding: 2% 0 2% 0;
	}

	/*form*/
	form{
		padding: 1% 0 1% 0;
	}

	#city{
		font-size: 30px;
		width: 230px;
		margin-left: 3%;
	}

	.position-icon{
		font-size: 200%;
	}

	/*description*/
	.description-container{
		padding: 5% 0 8% 0;
	}

	.description-button{
		padding: 3% 5%;
		margin-bottom: 2%;
	}

	/*functioning*/
	.functioning-container{
		padding: 3% 2% 8% 2%;
	}

	/*restaurants*/
	.restaurants-container{
		padding-top: 5%;
		padding-bottom: 8%;
	}

	/*footer*/
	.footer-container{
		padding-top: 0;
		padding-bottom: 0;
	}

	.footer-title{
		padding: 3% 0 1% 0;
	}

	.footer-title h2{
		font-size: 25px;
	}

	.footer-items{
		line-height: 120%;
		padding-bottom: 2%;
	}
}

@media screen and (min-width: 992px){

	/*description*/
	.description-container{
		padding: 3% 0 5% 0;
	}

	.description-button{
		padding: 3% 5%;
		margin-top: -3%;
		margin-bottom: 2%;
	}

	/*functioning*/
	.functioning-container{
		padding: 1% 2% 4% 2%;
	}

	.functioning-container h2{
		padding-bottom: 1%;
	}

	/*restaurants*/
	.restaurants-container{
		padding-top: 3%;
		padding-bottom: 6%;
	}

	.restaurants-container h2{
		padding-bottom: 1%;
	}
}


