@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
*{
	box-sizing: border-box;
}

/*header*/
#logo{
	font-family: 'Shrikhand', cursive;
	/*width: 50%;*/
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container{
	padding: 2% 0 2% 0;
	border-bottom: 2px solid #F2F2F2;
}

/*form*/
form{
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 1% 0 1% 0;
}

.form-container{
	background: #eaeaea;
}

input{
	background: #eaeaea;
}

#city{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-left: 2%;
	width: 120px;
	border: 1px none white;
}

/*description*/
.description-container{
	background: #f6f6f6;
	padding: 4% 0 4% 0;
	text-align: center;
}

.description-container h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.description-container p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.description-button{
	border-radius: 40px 40px;
	background: #9356DC;
	color: white;
	padding: 2% 2%;
	margin-bottom: 3%;
	border: 1px none #9356DC;
}

.description-button:hover{
	background: linear-gradient(#FF79DA, #9356DC);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*functioning*/
.functioning-container{
	background: white;
	padding-bottom: 3%;
}

.functioning-container h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 3%;
	padding-bottom: 2%;
}

.functioning-button{
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	padding: 7% 3% 6% 0;
	border-radius: 20px 20px;
	border: 1px none #F2F2F2;
	width: 100%;
}

.button-number{
	border: 1px solid #9356DC;
	background: #9356DC;
	color: white;
	border-radius: 50% 50% 50% 50%;
	padding: 1%;
	position: relative;
	right: 2%;
}

.icon{
	font-size: 130%;
	color: #7e7e7e;
}


.button-icon{
	margin-left: 5%;
	
}

.button-choice{
	margin-left: 10%;
	
}

.functioning-button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background: #f5edff;
}

.functioning-button:hover > .button-icon .icon{
	color: #9356DC;
}

/*restaurants*/
.restaurants-container{
	background: #f6f6f6;
	padding-top: 3%;
	padding-bottom: 3%;
}
.card {
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
  	padding: 0px 16px;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

a{
	text-decoration: none;
}

.card-container h5{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.card-container p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.label{
	position: absolute;
	right: 12px;
	top: 12px;
	background: #99E2D0;
	color: #008766;
	padding-left: 2%;
	padding-right: 2%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

/*footer*/
.footer-container{
	padding-top: 1%;
	padding-bottom: 1%;
	background: #353535;
	color: white;
}

.footer-title h2{
	font-family: 'Shrikhand', cursive;
}

.footer-items ul{
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	padding-left: 0;
}

.footer-items li a{
	color: white;
}


